@media screen and (max-width: 1110px){
	header{
		
		max-width:  100%;
		width: 100%;
		padding-left: 50px;
		padding-right: 50px;
	}
	.photo{
		
		max-width: 100%;
		width: 100%;
		padding-left: 50px;
		padding-right: 50px;
	}





	.first__box{
		
		max-width: 100%;
		width: 100%;
		padding-left: 50px;
		padding-right: 50px
	}



	.three__blocks{

		
		max-width: 100%;
		width: 100%;
		padding-left: 50px;
		padding-right: 50px
	}


	.lights__block{
		
		max-width: 100%;
		width: 100%;
		padding-left: 50px;
		padding-right: 50px;
	}
	.lights__girls:nth-child(1){
		right: 95px;
		margin-left: 0;
		filter: opacity(40%);
	}
	.lights__girls:nth-child(2){
		right: 0px;
		margin-left: 0;
		filter: opacity(20%);
	}
	.light__text{

	}




	.popu__block{
		
		max-width: 100%;
		/*width: 100%;*/
		padding-left: 50px;
		padding-right: 50px;
	}
	.girl2{
		filter: opacity(25%);
		right: 95px;
		z-index: 2;
	}



	.music__block{
		justify-content: center;
		max-width: 100%;
		/*width: 100%;*/
		padding-left: 50px;
		padding-right: 50px;
	}
	.color1{
		filter: opacity(25%);
		position: absolute;
		margin-top: 70px;
		left: 50px;
	}



	.blocks{
		
		max-width: 100%;
		/*width: 100%;*/
		padding-left: 50px;
		padding-right: 50px;
	}



	.box__swiper{
		max-width: 100%;
		/*width: 100%;*/
		padding-left: 10px;
		padding-right: 10px;
	}
	.swiper-slide{
		height: auto;
	}

}


@media screen and (max-width: 980px){

	.first__box{
		padding-top: 220px;
	}
	.navbar{
		display: block;
	}
	header{
		display: none;
	}
	.blocks{
		margin: 0 auto;
		max-width: 100%;
		/*width: 100%;*/
		padding-left: 100px;
		padding-right: 100px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 60px;
		grid-row-gap: 60px;
		padding-bottom: 180px;
	}
	.box__in__blocks1{
		grid-row-start: auto;
		grid-row-end: auto;
	}
	.box__in__blocks4{
		grid-row-start: auto;
		grid-row-end: auto;
		grid-column-start: auto;
		grid-column-end: auto;
	}
	.box__in__blocks5{
		grid-column-start: -3;
		grid-column-end: -1;
	}
	.block__grid{
		max-height: 250px;
	}
	.tickets{
		padding: 0;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
	}
	.tickets time{
		padding-top: 20px;
	}
	.tickets button{
		width: 100%;
		margin-top: 10px;
	}
}


@media screen and (max-width: 768px){
	.three__blocks{
		width: 80%;
		margin: 0 auto;
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 60px;
	
	}
	.first__box{
		padding-top: 140px;
	}
	.lights__text{
		position: relative;
		z-index: 20;
	}
	.first__p__bottom{
		font-size: 60px;
		line-height: 70px;
	}
	.lights__name{
		font-size: 44px;
	}
	.lights__girls{
		z-index: 5;
		position: absolute;
		margin-top: 80px;
		margin-left: 665px;
	}
	.lights__girls:nth-child(2){
		z-index: 4;
		position: absolute;
		margin-top: 146px;
		margin-left: 760px;
	}
	.popu__box{
		padding-left: 0;
	}
	.footer__icons{
		margin: 0 auto;
		width: 220px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin: 0 auto;
	}
	.blocks{
		padding-left: 30px;
		padding-right: 30px;
	}
	.girl2{
		right: 20px;
	}
	.footer1:nth-child(4), .footer1:nth-child(5), .footer1:nth-child(6){
		margin-top: 10px;
	}
}
@media screen and (max-width: 644px){
	.list{
		max-width: 420px;
		margin: 0 auto;
	}
}
@media screen and (max-width: 600px){
	.ellipse{
		width: 190px;
		height: 190px;
	}
	.color1{
		margin-top: 200px;
		position: absolute;
		left: 20%;
		width: 250px;
		height: 250px;
	}
	.color2{
		width: 220px;
		height: 220px;
	}
	.footer__text{
		display: flex;
		flex-direction: column;
	}
	.footer__p2{
		padding: 0;
	}
	.footer__p, .footer__p2{
		text-align: center;
	}
}
@media screen and (max-width: 500px){
	.three__blocks{
		width: 100%;
	}
	.lights__name, .music__box__text{
		text-align: center;
	}
}
@media screen and (max-width: 480px){
	.lights__girls:nth-child(2){
		margin-top: 370px;
		right: 0;
	}
	.lights__items{
		grid-template-columns: repeat(1, 1fr);
	}
	.girl2{
		width: 100%;
		margin-top: 60px;
	}
	.blocks{
		grid-column-gap: 10px;
		grid-row-gap: 10px;
	}
}
